
.hero {
    background-image: url(../img/Rectangle.png);
    background-size: cover;
     height: 50vh;
}
.company {
    background-image: url(../img/Rectangle\ \(1\).png);
    background-size: cover;
    height: 30vh;
    margin-right: 0;
}

.community {
    background-image: url(../img/bg3.png);
    background-size: cover;
     height: 30vh;
}
.navbar-collapse{
        flex: none !important
}
.Signup{
    background-color: rgb(237, 234, 234);
}